<ion-app>
    <div id="menu" class="menu ">
        <div (click)="closeMenu()" class="menu-close">
            <ion-icon name="close"></ion-icon>
        </div>
        <div class="menu-content">
            <ul class="nav">
                <li class="nav-item">Home</li>
                <li class="nav-item">Smartcodehub</li>
                <li class="nav-item">Write for us</li>
              </ul>
              <ion-slides *ngIf="data.length">
                <ion-slide  *ngFor="let item of data">
                  <div class="feature-article">
                    <div  [ngStyle]="{'background-image': 'url('+item.feature_image+')'}" class="feature-article__image">
                    </div>
                    <div class="feature-article__content">
                     <h4>{{item.title}}</h4>
                     <span>{{item.published_at | date}}</span>
                    </div>
                  </div>
              </ion-slide>
              </ion-slides>
        </div>
    </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
